html, body {
    font-family: $helvetica;
    font-size: 20px;
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    @include image-rendering(optimizeSpeed);
}

.main {
    @include outer-container;

    $base-border-radius: 3px !default;
    $action-color: #477DCA !default;
    $large-screen: em(768) !default;
    $hero-background-top: #7F99BE;
    $hero-background-bottom: #20392B;
    $top-color: white;
    $gradient-angle: 10deg;

    background-color: #324766;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    .search-bar {
        width: 100%;
        font-size: 34px;

        form {
            position: relative;
        }

        input {
            box-sizing: border-box;
            display: block;
            margin: 0;
            position: relative;
            width: 100%;
            padding: 10px;
            border: solid 5px #c9c9c9;
            transition: border 0.3s;
            font-size: 0.8em;
        }
    }

    .list {
        ul {
            @include span-columns(3);
            // @include linear-gradient(#C4E3F7, #E0E0E0);
            color: $top-color;
            list-style-type: none;
            list-style: none;
            padding-left: 0;
            text-align: center;

            @include media($tablet) {
                @include span-columns(4);
            }
            @include media($mobile) {
                @include span-columns(4);
            }
        }

        li {
            border: 3px solid white;
            width: 100%;
            &:hover {
                // border:1px solid black;
                background: tint(gray, 40%);
            }
            &:active {
                position: relative;
                top: 2px;
            }
        }
    }

    .text {
        @include span-columns(3);
        margin-left: 30px;
        text-align: center;

        @include media($mobile) {
            @include span-columns(4);
            margin-left: 0;
        }


        h1 {
            color: $top-color;
            font-size: 1.6em;
            margin-bottom: 0.5em;
            letter-spacing: 3px;

            @include media($large-screen) {
                font-size: 3em;
            }
            @include media($mobile) {
                display: none;
            }
        }

        p {
            color: $top-color;
            line-height: 1.4em;
            margin: 0 auto 3em auto;

            @include media($large-screen) {
                font-size: 1.5em;
                // max-width: 40%;
            }
            @include media($tablet) {
                @include span-columns(6);
                font-size: 1.1em;
                // max-width: 40%;
            }
            @include media($mobile) {
                // @include span-columns(2);
                // margin: 0 0 10px 0;
                display: none;
            }
        }
    }

    .logo {
        @include span-columns(3);
        margin-top: 20px;
        margin-left: 40px;
        @include media($tablet) {
            @include span-columns(2);
            // @include shift(1);
            img {
                height: 100px;
                width: auto;
            }
        }
        @include media($mobile) {
            @include span-columns(2);
            // @include shift(1);
            img {
                height: 75px;
                width: auto;
            }
        }
    }

    #map {
        height: 392px;
        width: 100%;
        @include outer-container;
    }

    .bullets {
      $base-line-height: 1.5em !default;
      $action-color: #477DCA !default;
      $dark-gray: #333 !default;
      $base-font-color: white !default;
      $icon-bullet-size: 3.5em;

      @include display(flex);
      @include flex-wrap(wrap);
      margin-bottom: $base-line-height;
      margin: 1em;
      overflow: auto;
      padding: 0;

      .bullet {
        @include flex-basis(20em);
        @include flex-grow(1);
    }

    .bullet-icon {
        float: left;
        padding: $icon-bullet-size / 4;
    }

    .bullet-content {
        margin-left: $icon-bullet-size * 1.4;
        margin-bottom: 2em;
    }

    h2 {
        // border-bottom: 1px solid transparentize($base-font-color, 0.8);
        display: inline-block;
        font-size: $icon-bullet-size / 2.5;
        margin: 0 0 ($icon-bullet-size / 6) 0;
        padding-top: $icon-bullet-size / 7;
    }

    li {
        list-style: none;
    }

    p {
        color: $base-font-color;
        line-height: $base-line-height;
    }

    img {
        max-width: 100%;
    }
}

}